body{
    background: rgb(83, 173, 233);
    font: normal 15pt Arial;
}

header{
    color: white;
    text-align: center;
}

section{
    background: white;
    border-radius: 1ch;
    padding: 2ch;
    width: 50%;
    margin: auto;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
}

footer{
    color: white;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
}

div {
    text-align: center;
    padding: 8px;
}